spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/ai_sns
    username: sa
    password:
    driver-class-name: org.h2.Driver
  output:
    ansi:
      enabled: ALWAYS

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        show_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type.descriptor.sql: trace
